<div>
  <div class = "redBackground customWidth"><strong>鸟</strong>鸟🐦<strong>鸟</strong>鸟🐦<strong>鸟</strong>鸟🐦<strong>鸟</strong>鸟🐦<strong>鸟</strong>鸟🐦<strong>鸟</strong>鸟🐦<strong>鸟</strong>鸟🐦<strong>鸟</strong>鸟🐦<strong>鸟</strong>鸟🐦<strong>鸟</strong>鸟🐦<strong>鸟</strong>鸟🐦<strong>鸟</strong>鸟🐦<strong>鸟</strong>鸟🐦<strong>鸟</strong>鸟🐦<strong>鸟</strong>鸟🐦<strong>鸟</strong>鸟🐦<strong>鸟</strong>鸟🐦<strong>鸟</strong>鸟🐦<strong>鸟</strong>鸟🐦<strong>鸟</strong>鸟🐦</div>
  <div>See what's happening in the world right now</div>

  <div>Join Twitter today.</div>
  <div>
    <button type="button" class="btn btn-outline-success">Sign Up</button>
  </div>
  <div>
    <button type="button" class="btn btn-outline-success">Log In</button>
  </div>
  <div>
    <button type="button" class="buttonMyself">Log In</button>
  </div>

</div>

<hr>
<span class = "test test2">
  盒模型
</span>
<span class = "test test2">
  盒模型
</span>
<span class = "test test2">
  盒模型
</span>

<hr>
<div class = "test test2">
  盒模型
</div>
<div class = "test test2">
  盒模型
</div>
<div class = "test test2">
  盒模型
</div>


<hr>
<div class = "outerContainer">
  盒模型
  <div class = "innerContainerAbsolute">
    Absolute
  </div>
  <div class = "innerContainerRelative">
    Relative
  </div>
</div>

<hr>
<div class = "parent">
  <div class = "box" id="one">One</div>
  <div class = "box" id = "two1">Two1</div>
  <div class = "box" id = "two2">Two2</div>
  <div class = "box" id = "three">Three</div>
  <div class = "box" id = "four">Four</div>
</div>

<hr>
<div>
  <div class="container-1">
<!--    I like dog  I like dog I like dog I like dog I like dog I like dog I like dog I like dog I like dog I like dog I like dog I like dog-->
        LibraryLibraryLibraryLibraryLibraryLibraryLibraryLibraryLibraryLibraryLibraryLibraryLibraryLibraryLibraryLibraryLibraryLibraryLibraryLibraryLibraryLibraryLibraryLibrary
<!--    librarylibrarylibrarylibrarylibrarylibrarylibrarylibrarylibrarylibrarylibrarylibrarylibrarylibrarylibrarylibrarylibrarylibrarylibrarylibrarylibrarylibrarylibrarylibrarylibrarylibrarylibrarylibrarylibrarylibrary-->
<!--    AbsoluteAbsoluteAbsoluteAbsoluteAbsoluteAbsoluteAbsoluteAbsoluteAbsoluteAbsoluteAbsoluteAbsoluteAbsoluteAbsoluteAbsoluteAbsoluteAbsolute-->
<!--    <strong>鸟</strong>鸟🐦<strong>鸟</strong>鸟🐦<strong>鸟</strong>鸟🐦<strong>鸟</strong>鸟🐦<strong>鸟</strong>鸟🐦<strong>鸟</strong>鸟🐦<strong>鸟</strong>鸟🐦<strong>鸟</strong>鸟🐦<strong>鸟</strong>鸟🐦<strong>鸟</strong>鸟🐦<strong>鸟</strong>鸟🐦<strong>鸟</strong>鸟🐦<strong>鸟</strong>鸟🐦<strong>鸟</strong>鸟🐦<strong>鸟</strong>鸟🐦<strong>鸟</strong>鸟🐦<strong>鸟</strong>鸟🐦<strong>鸟</strong>鸟🐦<strong>鸟</strong>鸟🐦<strong>鸟</strong>鸟🐦-->
<!--  鸟鸟鸟鸟鸟鸟鸟鸟鸟鸟鸟鸟鸟鸟鸟鸟鸟鸟鸟鸟鸟鸟鸟鸟鸟鸟鸟鸟鸟鸟鸟鸟鸟鸟鸟鸟鸟鸟鸟鸟鸟鸟鸟鸟鸟鸟鸟鸟鸟鸟鸟鸟鸟鸟鸟鸟鸟鸟鸟鸟鸟鸟鸟鸟鸟鸟鸟鸟鸟鸟鸟鸟鸟鸟鸟鸟鸟鸟鸟鸟鸟鸟鸟鸟鸟鸟鸟鸟鸟鸟鸟鸟鸟鸟鸟鸟-->
  </div>
    <div class="container-1">
    Absolute
  </div>
  <div class="container-1">
    Absolute
  </div>
  <div class="container-1">
    Absolute
  </div>
</div>


<hr>
  <div class="row">
    <div class="col-3 borderRed">第一块</div>
    <div class ="col-6 borderRed">第二块</div>
    <div class ="col-3 borderRed">第三块</div>
  </div>

<div class="row">
  <div class="col-4"></div>
  <div class ="col-4 borderRed">居中</div>
  <div class ="col-4"></div>
</div>

<div class="row">
  <div class ="col-4 offset-4 borderRed">居中</div>
</div>


<hr>
<div class = "container">
  <nav>
    Home
    Taco Menu
    Draft list
    Hours
    Directions
    Contact
  </nav>
  <section>
    section的margin-left样式确保
  </section>
</div>


