.redBackground{
  background-color: red;
  color: yellow;
}

.buttonMyself{
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.customWidth{
  width: 600px;
  /*min-width: 600px;*/
  /*max-width: 800px;*/
  height: 300px;
  background-color: blue;
}

.test{
  border-bottom: black solid 2px;
  border-top: black solid 2px;
  border-left: black solid 2px;
  border-right: black solid 2px;
  width: 200px;
}

.test2{
  margin-left: 20px;
  padding-left: 20px;
  margin-top: 20px;
}

.outerContainer{
  border-bottom: black solid 2px;
  border-top: black solid 2px;
  border-left: black solid 2px;
  border-right: black solid 2px;
  width: 800px;
  height: 600px;
}

.innerContainerAbsolute{
  position: absolute;
  border-bottom: red solid 2px;
  border-top: red solid 2px;
  border-left: red solid 2px;
  border-right: red solid 2px;
  margin-top: 50px;
  margin-left: 50px;
  width: 300px;
  height: 200px;
}

.innerContainerRelative{
  position: relative;
  border-bottom: yellow solid 2px;
  border-top: yellow solid 2px;
  border-left: yellow solid 2px;
  border-right: yellow solid 2px;
  margin-top: 50px;
  margin-left: 50px;
  width: 300px;
  height: 200px;
}

.parent{
  border: 2px black dotted;
  display: inline-block;
  position: relative;
}

.box{
  display: inline-block;
  background: red;
  width: 100px;
  height: 100px;
}

#two1{
  background: green;
  top: 20px;
  left: 20px;
  position: relative;
}

#two2{
  background: purple;
  top: 20px;
  left: 20px;
  position: absolute;
}

.container-1{
  display:inline-block;
  vertical-align: top;
  /*white-space: nowrap;*/
  /*overflow: hidden;*/
  word-wrap: break-word;
  border-bottom: black solid 2px;
  border-top: black solid 2px;
  border-left: black solid 2px;
  border-right: black solid 2px;
  width: 200px;
  height: 200px;
  /*margin: 10px;*/
}

.borderRed{
  border: red solid 1px;
}


.container{
  position: relative;
  border: lawngreen solid 2px;
}
nav{
  position: absolute;
  border: deeppink solid 2px;
  left: 0px;
  width: 200px;
}
section{
  margin-left: 200px;
}
footer{
  position: fixed;
  bottom: 0;
  left: 0;
  height: 70px;
  background-color: white;
}
body{
  margin-bottom: 120px;
}
