.redBackground{
  background-color: red;
  color: yellow;
}

.buttonMyself{
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.customWidth{
  width: 600px;
  /*min-width: 600px;*/
  /*max-width: 800px;*/
  height: 300px;
  background-color: blue;
}

.test{
  border-bottom: black solid 2px;
  border-top: black solid 2px;
  border-left: black solid 2px;
  border-right: black solid 2px;
  width: 200px;
}

.test2{
  margin-left: 20px;
  padding-left: 20px;
  margin-top: 20px;
}

.outerContainer{
  border-bottom: black solid 2px;
  border-top: black solid 2px;
  border-left: black solid 2px;
  border-right: black solid 2px;
  width: 800px;
  height: 600px;
  color: red;
}

.innerContainerAbsolute{
  position: absolute;
  border-bottom: red solid 2px;
  border-top: red solid 2px;
  border-left: red solid 2px;
  border-right: red solid 2px;
  margin-top: 50px;
  margin-left: 50px;
  width: 300px;
  height: 200px;
  color: #007bff;
}

.innerContainerRelative{
  position: relative;
  border-bottom: yellow solid 2px;
  border-top: yellow solid 2px;
  border-left: yellow solid 2px;
  border-right: yellow solid 2px;
  margin-top: 50px;
  margin-left: 50px;
  width: 300px;
  height: 200px;
}

.parent{
  border: 2px black dotted;
  display: inline-block;
  position: relative;
}

.box{
  display: inline-block;
  background: red;
  width: 100px;
  height: 100px;
}

#two1{
  background: green;
  top: 20px;
  left: 20px;
  position: relative;
}

#two2{
  background: purple;
  top: 20px;
  left: 20px;
  position: absolute;
}

.container-1{
  display:inline-block;
  vertical-align: top;
  /*white-space: nowrap;*/
  /*overflow: hidden;*/
  word-wrap: break-word;
  border-bottom: black solid 2px;
  border-top: black solid 2px;
  border-left: black solid 2px;
  border-right: black solid 2px;
  width: 200px;
  height: 200px;
  /*margin: 10px;*/
}

.borderRed{
  border: red solid 1px;
}


.container{
  position: relative;
  border: lawngreen solid 3px;
  margin: 0;
  padding: 0;
}

.column{
  display: inline-block;
  vertical-align: top;
  width: 75%;
  border: deeppink solid 3px;
  margin: 0;
  padding: 0;
}
nav{
  /*position: absolute;*/
  display: inline-block;
  vertical-align: top;
  border: deeppink solid 3px;
  left: 0px;
  /*width: 200px;*/
  width: 25%;
  color: deeppink;
}

section{
  /*display: inline-block;*/
  /*vertical-align: top;*/
  /*margin-left: 200px;*/
  border: orange solid 3px;
  padding: 10px;
}
footer{
  /*border: lawngreen solid 3px;*/
  position: fixed;
  bottom: 0;
  left: 0;
  /*height: 70px;*/
  background-color: white;
  width: 100%;
}
body{
  margin-bottom: 120px;
}

/*.page{*/
/*  width: 800px;*/
/*  background-color: #007bff;*/
/*}*/

.containerNew{
  position: relative;
  background-color: darkgreen;
  height: 800px;
}

.modal1{
  background-color: whitesmoke;
  height: 300px;
  width: 500px;
  border: 1px;
  padding: 30px;
}

.greyFont{
  color: dimgrey;
  background-color: lightgrey;
}

.greyColor{
  color: dimgrey;
}

.button{
  background-color: darkgreen;
  color: whitesmoke;
  text-align: center;
}
.greenFont{
  color: darkgreen;
}

.center{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.textbox{
  height: 45px;
  width: 300px;
  padding: 10px;
  margin: 10px;
  position: relative;
}

.lineBlock{
  display: inline-block;
  vertical-align: top;
}

